#authors {
    .owl-theme .owl-nav {
        margin-top: 0;
        opacity: 0;
        visibility: visible;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .owl-theme .owl-nav [class*="owl-"] {
        position: absolute;
        left: 20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        color: #252525;
        font-size: 35px;
        margin: 0;
        padding: 0;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 0;
        width: 55px;
        height: 55px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

    .owl-theme .owl-nav [class*="owl-"] i {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .owl-theme .owl-nav [class*="owl-"].owl-next {
        left: auto;
        right: 20px;
    }

    .owl-theme .owl-nav [class*="owl-"]:hover {
        background-color: #8370ff;
        color: #ffffff;
    }

    .owl-theme .owl-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 15px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 0 5px;
        background: #ffffff;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-radius: 50%;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    .owl-theme .owl-dots .owl-dot:hover span,
    .owl-theme .owl-dots .owl-dot.active span {
        background-color: #ffffff47;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .owl-theme:hover .owl-nav {
        opacity: 1;
        visibility: visible;
    }

    .testimonials-area {
        position: relative;
        z-index: 1;
        overflow: hidden;
    }

    .single-author-item {
        background-color: #ffffff;
        padding: 35px 30px 95px;
        -webkit-box-shadow: 6px 5px 25px rgba(0, 0, 0, 0.06);
        box-shadow: 6px 5px 25px rgba(0, 0, 0, 0.06);
        text-align: center;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        position: relative;
        margin-bottom: 100px;
    }

    .single-author-item p {
        line-height: 1.9;
        margin-bottom: 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        font-size: 16px;
    }

    .single-author-item .info {
        position: absolute;
        left: 0;
        bottom: -100px;
        right: 0;
    }

    .single-author-item .info img {
        width: 100px !important;
        height: 100px;
        display: inline-block !important;
        border: 3px solid #ffffff;
    }

    .single-author-item .info h3 {
        margin-bottom: 5px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .single-author-item .info span {
        color: #ffa500;
        display: block;
        font-weight: 500;
    }

    .owl-item .single-author-item {
        -webkit-box-shadow: unset;
        box-shadow: unset;
        margin-top: 30px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        opacity: 0.7;
    }

    .owl-item.active.center .single-author-item {
        -webkit-box-shadow: 6px 5px 25px rgba(0, 0, 0, 0.06);
        box-shadow: 6px 5px 25px rgba(0, 0, 0, 0.06);
        margin-top: 0;
        background: linear-gradient(270deg, #001f3f 0%, #001a33 100%);
        -webkit-transition: 0.5s;
        transition: 0.5s;
        opacity: 1;
        border-radius: 5px;
    }
    .owl-item.active.center .single-author-item.about {
        background: #ffa500;
    }

    .owl-item.active.center .single-author-item p {
        color: #ffffff;
    }

    .owl-theme .owl-dots {
        margin-top: 15px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 13px;
        height: 13px;
        margin: 0 5px;
        background: #dddddd;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        border-radius: 50%;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    .owl-theme .owl-dots .owl-dot:hover span,
    .owl-theme .owl-dots .owl-dot.active span {
        background-color: #2f57ef;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
